/* The animation logic */
@keyframes snow {
  0% { transform: translateY(-10vh); opacity: 1; }
  100% { transform: translateY(100vh); opacity: 0; }
}

.snowflake {
  color: #fff;
  font-size: 1.5em;
  position: fixed;
  top: -10%;
  z-index: 9999;
  user-select: none;
  cursor: default;
  animation: snow 5s linear infinite;
}

/* Giving snowflakes different starting positions and speeds */
.snowflake:nth-of-type(1) { left: 10%; animation-delay: 0s; }
.snowflake:nth-of-type(2) { left: 30%; animation-delay: 2s; animation-duration: 7s; }
.snowflake:nth-of-type(3) { left: 50%; animation-delay: 1s; animation-duration: 6s; }
.snowflake:nth-of-type(4) { left: 70%; animation-delay: 3s; }
.snowflake:nth-of-type(5) { left: 90%; animation-delay: 1.5s; animation-duration: 8s; }