ol
  li.a
    div <span>A</span>
  li.b
    div <span>B</span>
  li.c
    div <span>C</span> 
  li.d
    div D
  li.e
    div <span>E</span>
  li.f
    div <span>F</span>
  li.g
    div <span>G</span>
  li.h
    div <span>H</span>
  li.i
    div I
  li.j
    div <span>J</span>
  li.k
    div <span>K</span>
  li.l
    div L
  li.m
    div <span>M</span>
  li.n
    div <span>N</span>
  li.o
    div <span>O</span>
  li.p
    div <span>P</span>
  li.q
    div <span>Q</span>
  li.r
    div <span>R</span>
  li.s
    div <span>S</span>
  li.t
    div <span>T</span>
  li.u
    div <span>U</span>
  li.v
    div <span>V</span>
  li.w
    div <div><span>W</span></div>
  li.x
    div <span>X</span>
  li.y
    div <span>Y</span>
  li.z
    div <span>Z</span>